@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("./regular.woff2") format("woff2"),
    url("./regular.woff") format("woff"), url("./regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("./regular-italic.woff2") format("woff2"),
    url("./regular-italic.woff") format("woff"),
    url("./regular-italic.ttf") format("ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("./bold.woff2") format("woff2"), url("./bold.woff") format("woff"),
    url("./bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("./bold-italic.woff2") format("woff2"),
    url("./bold-italic.woff") format("woff"),
    url("./bold-italic.ttf") format("ttf");
  font-style: italic;
  font-weight: 700;
}
